html, body {
  background: rgb(10, 10, 10);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font: 100%/1.5 sans-serif;
  margin: 0rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

html::-webkit-scrollbar , body::-webkit-scrollbar {
  display: none;
}

.sinnlos {
  color: rgb(61, 58, 58);
  font-family: "Rubik", sans-serif;
  font-size: 5vw;
  font-weight: 600;
  text-decoration-line: line-through;
}

.fancy {
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
  line-height: 0.6em;
  color: rgb(163, 230, 53);
}

h4 {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 5vw;
  font-weight: 600;
  margin: 0px 10vw;
  width: 80vw;
  text-align: center;
  overflow: hidden;
}

.main-child {
  background-color: rgba(10, 10, 10, 0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: grid;
  place-content: center;
}

  h1 {
    font-family: 'Space Mono', monospace;
    font-size: 5rem;
    color: white;
    margin: 0;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
  }
  
  h1:hover {
    background-color: white;
    color: black;
  }

  h2 {
    font-family: 'Space Mono', monospace;
    font-size: 5rem;
    color: white;
    margin: 0;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
  }
  
  h2:hover {
    background-color: white;
    color: black;
  }

  h3 {
    font-family: 'Space Mono', monospace;
    font-size: 5rem;
    color: white;
    margin: 0;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
  }
  
  h3:hover {
    background-color: white;
    color: black;
  }

  h5 {
    font-family: 'Space Mono', monospace;
    font-size: 5rem;
    color: white;
    margin: 0;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
  }
  
  h5:hover {
    background-color: white;
    color: black;
  }

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidebar a {
    padding-left: 8px ;
    padding-right: 32px ;
    line-height: 90px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #000000;
    color: #444;
    padding: 10px 15px;
    border: none;
    z-index: 5;
    position: absolute;
    transition-duration: 0.5s;
  }

  .openbtn:hover {
    color: #fff;
  }
  

  #main {
    overflow: auto;
    scrollbar-width: none;
  }

  #main::-webkit-scrollbar {
    display: none;
  }
  
  h6 {
    margin-top: 5vh;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    transition: opacity 2s;
  }

  .mainpage-div:nth-child(3) {
    margin-top: 140vh;
    padding-top: 20vh;
    background-image: linear-gradient(rgb(10, 10, 10), #111);
    width: 100vw;
    height: 300vh;
    left: 10%;
  }

  #Cat-Pics {
    transition: top 3s;
    width: 186.5625vw;
  }

  #images {
    background-color: rgba(255, 255, 255, 0);
    transition: left 3s, gap 3s, transform 3s;
    user-select: none; 
    position: relative;
    display: flex;
    left: 0%;
    gap: 0vmin;
    transform: translate(0%, 0%); 
  }

  #images > .image {
    width: 40vmin;
    height: 50vmin;
    object-fit: cover;
    object-position: 100% center;
  }

  #images.after {
    gap: 2vmin;
    left: -25%;
    transform: translate(-50%, 0%); 
  }

  #image-track {
    background-color: rgba(255, 255, 255, 0);
    transition: left 3s, gap 3s, transform 3s;
    user-select: none; 
    position: relative;
    display: flex;
    left: 0%;
    gap: 0vmin;
    transform: translate(-30%, 0%); 
  }

  #image-track.after {
    gap: 2vmin;
    left: 25%;
    transform: translate(0%, 0%); 
  }
  
  #image-track > .image {
    width: 40vmin;
    height: 50vmin;
    object-fit: cover;
    object-position: 100% center;
  }

  .sticky {
    padding-top: 60px;
    position: fixed;
    top: -6%;
  }

  .vanish {
    padding-top: 60px;
    position: fixed;
    top: -200%;
  }